<!-- Describe task in general -->

<p>Вам задано список цілих чисел, і ваша мета - виконати наступні дії:</p>
<ul>
    <li>Визначити та згрупувати всі відсортовані послідовності у списку. Відсортована послідовність - це група чисел, розташованих у порядку зростання або спадання.</li>
    <li>Відсортуйте вхідний список за цими групами, зберігаючи відносний порядок елементів у кожній групі.</li>
    <li>Повернути відсортований список з розпакованими групами, тобто окремі числа з кожної групи знаходяться у кінцевому результаті, а їх порядок відображає відсортовану послідовність всередині кожної групи.</li>
</ul>
<p>Наприклад, розглянемо вхідний список <code>[5, 1, 5, 0, 5]</code>:</p>
<ul>
    <li>Згрупуйте числа так, щоб отримати <code>[[5, 1], [5, 0], [5]]</code> (виділено три групи).</li>
    <li>Відсортуйте вхідний список за групами, зберігаючи відносний порядок елементів у кожній групі, щоб отримати <code>[[5], [5, 0], [5, 1]]</code>.</li>
    <li>Розпакуйте групи, щоб отримати остаточний відсортований список: <code>[5, 5, 0, 5, 1]</code>.</li>
</ul>

<p style="text-align: justify;">
    Розглянемо ще один приклад у вигляді схеми:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sort-sorted-groups.svg" alt="example" style="max-height: 300px"/>
</p>

<p>Важливі моменти:</p>
<ul>
    <li>При визначенні відсортованих груп сусідні рівні числа вважаються частиною однієї групи і зберігають раніше визначений порядок.</li>
    <li>Щоб визначити порядок сортування для кожної групи, шукайте перше відмінне число за межами початкових рівних чисел. Порядок сортування для кожної групи визначається не один раз для всього списку.</li>
    <li>При створенні груп, будьте жадібні зліва, беручи якомога більше чисел, щоб створити чітку впорядковану послідовність для кожної групи.</li>
</ul>
<p>Успіхів вам у вирішенні завдання!</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> {% if is_js %}Масив чисел{% else %}Список цілих чисел{% endif %}.
</p>

<p>
   <strong>Вихідні дані:</strong> {% if is_js %}Масив чисел{% else %}Список цілих чисел{% endif %}.
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
