<!-- Describe task in general -->

<p>Вам надається список цілих чисел, і ваша мета - виконати наступні кроки:</p>
<ol>
    <li>Визначте та згрупуйте всі відсортовані послідовності усередині списку. Відсортована послідовність - це група чисел, які розташовані в порядку або зростанням, або спаданням.</li>
    <li>Відсортуйте вхідний список за цими групами, зберігаючи відносний порядок елементів у межах кожної групи.</li>
    <li>Поверніть відсортований список з розгорнутими групами, що означає, що окремі числа з кожної групи є в кінцевому результаті, і їхній порядок відображає відсортовану послідовність у межах кожної групи.</li>
</ol>
<p>Наприклад, розгляньте вхідний список [5, 1, 5, 0, 5]:</p>
<ul>
    <li>Згрупуйте числа, щоб отримати [[5, 1], [5, 0], [5]] (ідентифіковано три групи).</li>
    <li>Відсортуйте кожну групу незалежно, зберігаючи відносний порядок елементів у межах кожної групи, щоб отримати [[5], [5, 0], [5, 1]].</li>
    <li>Розгорніть групи, щоб отримати кінцевий відсортований список: [5, 5, 0, 5, 1].</li>
</ul>
<p>Важливі моменти:</p>
<ul>
    <li>При визначенні відсортованих груп розглядаються сусідні однакові числа, як частину однієї і тієї ж групи.</li>
    <li>Для визначення порядку сортування кожної групи шукайте перше відмінне число поза початковими рівними числами. Порядок сортування кожної групи не визначається один раз для всього списку.</li>
    <li>При створенні груп будьте жадібними зліва, беручи якнайбільше чисел для створення послідовності з різним порядком для кожної групи.</li>
</ul>
<p>Удачі у виконанні вашого завдання!</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
