<!-- Describe task in general -->

<p>
    Тобі дано {% if is_js %}масив{% else %}список{% endif %} цілих чисел.
    Твоя мета - знайти всі сортовані групи (групи чисел з визначеним порядком сортування
    або одиничне значення) всередині цього {% if is_js %}масиву{% else %}списку{% endif %}, відсортуй
    {% if is_js %}масив{% else %}список{% endif %} за цими групами і поверни сортований
    {% if is_js %}масив{% else %}список{% endif %} із розпакованими групами. 
</p>
<p>
    Наприклад, [5, 1, 5, 0, 5] --> [[5, 1], [5, 0], [5]] --> [[5], [5, 0], [5, 1]] --> [5, 5, 0, 5, 1].
</p>
<p>
    Якщо сусідні числа однакові, вважай, що порядок сортування не змінився. Якщо
    група розпочинається із однакових чисел, шукай наступне відмінне число, щоб 
    визначити або перевірити порядок сортування групи, або кінець {% if is_js %}масиву{% else %}списку{% endif %}. Ти маєш з’ясувати порядок сортування для кожної групи, а не один раз для всього {% if is_js %}масиву{% else %}списку{% endif %}. Якщо перша група має порядок спадання, це не означає, що тобі слід будувати всі групи за спаданням. Ти маєш бути "жадібними зліва" - брати якомога більше чисел для побудови та визначення сортованої групи.
    Удачі!
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
