<!-- Describe task in general -->

<p>You are given a list of integers, and your goal is to perform the following steps:</p>
<ul>
    <li>Identify and group together all the sorted sequences within the list. A sorted sequence is a group of numbers that are arranged in either ascending or descending order.</li>
    <li>Sort the input list by these groups while preserving the relative order of elements within each group.</li>
    <li>Return the sorted list with the groups unpacked, meaning that the individual numbers from each group are in the final result, and their order reflects the sorted sequence within each group.</li>
</ul>
<p>For example, consider the input list <code>[5, 1, 5, 0, 5]</code>:</p>
<ul>
    <li>Group the numbers to obtain <code>[[5, 1], [5, 0], [5]]</code> (three groups are identified).</li>
    <li>Sort the input list by groups while maintaining the relative order of elements within each group to get <code>[[5], [5, 0], [5, 1]]</code>.</li>
    <li>Unpack the groups to obtain the final sorted list: <code>[5, 5, 0, 5, 1]</code>.</li>
</ul>

<p style="text-align: justify;">
    Let's look at another example in a view of a scheme:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sort-sorted-groups.svg" alt="example" style="max-height: 300px"/>
</p>

<p>Important Points:</p>
<ul>
    <li>When identifying sorted groups, adjacent equal numbers are considered part of the same group and keep previously detected order.</li>
    <li>To determine the sorting order for each group, look for the first different number beyond the initial equal numbers. The sorting order for each group is not determined once for the entire list.</li>
    <li>When building the groups, be greedy from the left, taking as many numbers as possible to create a distinct ordered sequence for each group.</li>
</ul>
<p>Good luck with your task!</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}Array of numbers{% else %}List of integers{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Array of numbers{% else %}List of integers{% endif %}.
</p>

<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
