<!-- Describe task in general -->

<p>Sie erhalten eine Liste ganzer Zahlen und Ihr Ziel ist es, die folgenden Schritte auszuführen:</p>
<ul>
    <li>Identifizieren und gruppieren Sie alle sortierten Sequenzen innerhalb der Liste. Eine sortierte Folge ist eine Gruppe von Zahlen, die entweder in aufsteigender oder absteigender Reihenfolge angeordnet sind.</li>
    <li>Sortieren Sie die Eingabeliste nach diesen Gruppen und behalten Sie dabei die relative Reihenfolge der Elemente innerhalb jeder Gruppe bei.</li>
    <li>Geben Sie die sortierte Liste zurück, wobei die Gruppen entpackt sind, d.h. die einzelnen Zahlen aus jeder Gruppe sind im Endergebnis enthalten und ihre Reihenfolge entspricht der sortierten Reihenfolge innerhalb jeder Gruppe.</li>
</ul>
<p>Betrachten Sie zum Beispiel die Eingabeliste <code>[5, 1, 5, 0, 5]</code>:</p>
<ul>
    <li>Gruppieren Sie die Zahlen, um <code>[[5, 1], [5, 0], [5]]</code> zu erhalten (drei Gruppen werden identifiziert).</li>
    <li>Sortieren Sie die Eingabeliste nach Gruppen und behalten Sie dabei die relative Reihenfolge der Elemente innerhalb jeder Gruppe bei, um <code>[[5], [5, 0], [5, 1]]</code> zu erhalten.</li>
    <li>Entpacken Sie die Gruppen, um die endgültige sortierte Liste zu erhalten: <code>[5, 5, 0, 5, 1]</code>.</li>
</ul>

<p style="text-align: justify;">
    Schauen wir uns ein weiteres Beispiel in einer Ansicht eines Schemas an:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sort-sorted-groups.svg" alt="example" style="max-height: 300px"/>
</p>

<p>Wichtige Punkte:</p>
<ul>
    <li>Bei der Identifizierung sortierter Gruppen werden benachbarte gleiche Zahlen als Teil derselben Gruppe betrachtet und behalten die zuvor erkannte Reihenfolge bei.</li>
    <li>Um die Sortierreihenfolge für jede Gruppe zu bestimmen, suchen Sie nach der ersten unterschiedlichen Zahl nach den anfänglichen gleichen Zahlen. Die Sortierreihenfolge für jede Gruppe wird nicht einmal für die gesamte Liste festgelegt.</li>
    <li>Seien Sie bei der Bildung der Gruppen von links her gierig und nehmen Sie so viele Zahlen wie möglich, um für jede Gruppe eine eindeutige Reihenfolge zu erstellen.</li>
</ul>
<p>Viel Glück bei Ihrer Aufgabe!</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> {% if is_js %}Array mit Zahlen{% else %}Liste mit ganzen Zahlen{% endif %}.
</p>

<p>
   <strong>Ausgabe:</strong> {% if is_js %}Array von Zahlen{% else %}Liste von ganzen Zahlen{% endif %}.
</p>

<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
